<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="user/layout :: page">
<head th:fragment="head" th:remove="tag">
    <title>Home :: Sample Application</title>
</head>
<body>
<div th:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>

</div>
</body>
</html>