<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      th:fragment="page">
<head>
    <div th:replace="inc.bootstrap :: head"/>

    <link href="css/dashboard.css" rel="stylesheet"/>

    <div th:replace="this :: head"/>
</head>
<body>

<div th:replace="user/inc.header"/>

<div class="container-fluid">
    <div class="row">
        <div th:replace="user/inc.side"/>

        <div th:replace="this :: content"/>

    </div>
</div>

<div th:replace="inc.bootstrap :: tail"/>

</body>
</html>
