<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="inc.bootstrap :: head"/>

    <title>Login :: Sample Application</title>

    <link href="css/login.css" rel="stylesheet"/>
</head>
<body class="text-center">
<form class="form-signin" th:action="@{/login}" method="post">
    <h1 class="h3 mb-3 font-weight-normal"><i data-feather="lock"/> Please log in</h1>
    <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show text-left" role="alert">
        Wrong credentials!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <label for="inputEmail" class="sr-only">Login</label>
    <input type="text"
           name="username"
           id="inputEmail"
           class="form-control"
           placeholder="Login"
           required="required"
           autofocus="autofocus"/>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password"
           name="password"
           id="inputPassword"
           class="form-control"
           placeholder="Password"
           required="required"/>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"/> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
</form>

<div th:replace="inc.bootstrap :: tail"/>

</body>
</html>